.row {
    display: flex;
    height: 30rem;
}

.withMargin {
    margin: 2rem 30vh;
}

.column {
    flex: 50%;
}

.column img {
    max-width: 100%;
    max-height: 100%;
}

.marginColLeft {
    margin-left: 30vh;
}

.marginColRight {
    margin-right: 30vh;
}

.imgBackground {
    background-image: url('../Resources/personImg1.jpg');
    background-position: center top;
}

.heading {
    text-align: center;
}
